<div class="editor">
  <div class="buttons">
    <button type="button" (click)="bold( $event )" *ngIf=" is('bold') ">B</button>
    <button type="button" (click)="italic( $event )" *ngIf=" is('italic') ">I</button>
    <button type="button" (click)="underline( $event )" *ngIf=" is('underline') ">U</button>
    <select type="button" (change)="fontSize( $event )" *ngIf=" is('fontsize') ">
      <option value='0'>Size</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
    </select>
    <select type="button" (change)="forecolor( $event )" *ngIf=" is('forecolor') ">
      <option value=''>Color</option>
      <option value='black'>Black</option>
      <option value='blue'>Blue</option>
      <option value='blueviolet'>BlueViolet</option>
      <option value='brown'>Brown</option>
      <option value='gold'>Gold</option>
      <option value='green'>Green</option>
      <option value='grey'>Grey</option>
      <option value='navy'>Navy</option>
      <option value='red'>Red</option>
      <option value='tomato'>Tomato</option>
      <option value='yellow'>Yellow</option>
    </select>
    <select type="button" (change)="backcolor( $event )" *ngIf=" is('backcolor') ">
      <option value=''>Background Color</option>
      <option value='black'>Black</option>
      <option value='blue'>Blue</option>
      <option value='blueviolet'>BlueViolet</option>
      <option value='brown'>Brown</option>
      <option value='darkblue'>DarkBlue</option>
      <option value='gold'>Gold</option>
      <option value='green'>Green</option>
      <option value='grey'>Grey</option>
      <option value='navy'>Navy</option>
      <option value='red'>Red</option>
      <option value='tomato'>Tomato</option>
      <option value='yellow'>Yellow</option>
    </select>

    <select type="button" (change)="highlight( $event )" *ngIf=" is('highlight') ">
      <option value=''>Highlight</option>
      <option value='black,white'>Black and White</option>
      <option value='blue,white'>Blue and White</option>
      <option value='green,white'>Green and White</option>
      <option value='red,white'>Red and White</option>
      <option value='gold,white'>Yellow and White</option>
    </select>

    <button type="button" (click)="link( $event )" *ngIf=" is('link') ">Link</button>
    <button type="button" (click)="unlink( $event )" *ngIf=" is('unlink') ">Unlink</button>

    <select type="button" (change)="table( $event )" *ngIf=" is('table') ">
      <option value=''>Table</option>
      <option value='1x2'>1x2</option>
      <option value='1x3'>1x3</option>
      <option value='1x4'>1x4</option>
      <option value='1x5'>1x5</option>
      <option value='2x2'>2x2</option>
      <option value='2x3'>2x3</option>
      <option value='2x4'>2x4</option>
      <option value='2x5'>2x5</option>
      <option value='3x2'>3x2</option>
      <option value='3x3'>3x3</option>
      <option value='3x4'>3x4</option>
      <option value='3x5'>3x5</option>
      <option value='4x2'>4x2</option>
      <option value='4x3'>4x3</option>
      <option value='4x4'>4x4</option>
      <option value='4x5'>4x5</option>
      <option value='5x2'>5x2</option>
      <option value='5x3'>5x3</option>
      <option value='5x4'>5x4</option>
      <option value='5x5'>5x5</option>
    </select>


    <select type="button" (change)="fontName( $event )" *ngIf=" is('fontname') ">
      <option value=''>Font Name</option>
      <option value='Arial'>Arial</option>
      <option value='Arial Black'>Arial Black</option>
      <option value='Comic Sans MS'>Comic Sans MS</option>
      <option value='Courier New'>Courier New</option>
      <option value='Georgia'>Georgia</option>
      <option value='Helvetica'>Helvetica</option>
      <option value='Impact'>Impact</option>
      <option value='Times New Roman'>Times New Roman</option>
      <option value='Verdana'>Verdana</option>
      <option value='맑은 고딕,Malgun Gothic,AppleGothic'>맑은 고딕</option>
    </select>



    <select type="button" (change)="formatBlock( $event )" *ngIf=" is('formatblock') ">
      <option value=''>Format</option>
      <option value='H1'>H1</option>
      <option value='H2'>H2</option>
      <option value='H3'>H3</option>
      <option value='H4'>H4</option>
      <option value='H5'>H5</option>
      <option value='H6'>H6</option>
      <option value='P'>Paragraph</option>
    </select>

    <button type="button" (click)="indent( $event )" *ngIf=" is('indent') ">indent</button>

    <button type="button" (click)="outdent( $event )" *ngIf=" is('outdent') ">outdent</button>
    <button type="button" (click)="insertHorizontalRule( $event )" *ngIf=" is('insertline') ">Line</button>
    <button type="button" (click)="insertImage()" *ngIf=" is('insertimage') ">Image</button>

    <button type="button" (click)="insertOrderedList( $event )" *ngIf=" is('orderedlist') ">OL</button>
    <button type="button" (click)="insertUnorderedList( $event )" *ngIf=" is('unorderedlist') ">UL</button>
    <button type="button" (click)="justifyLeft( $event )" *ngIf=" is('left') ">Left</button>
    <button type="button" (click)="justifyCenter( $event )" *ngIf=" is('center') ">Center</button>
    <button type="button" (click)="justifyRight( $event )" *ngIf=" is('right') ">Right</button>
    <button type="button" (click)="removeFormat( $event )" *ngIf=" is('removeformat') ">Unformat</button>
    <button type="button" (click)="strikeThrough( $event )" *ngIf=" is('strike') ">Strike</button>
    <button type="button" (click)="bigContentSize( $event )" *ngIf=" is('big') ">+</button>
    <button type="button" (click)="originalContentSize( $event )" *ngIf=" is('normal') ">-</button>

  </div>
  <div #editorContent class="content" [attr.size]=" contentSize " contenteditable="true">
  </div>
</div>
